{% extends 'base.html'%}

{% block content%}
<script type="text/javascript" src="{{url_for('static', filename='js/auth/signup.js')}}"></script>
<style media="screen">
  body{
    background-image:url("{{url_for('static', filename='bg-quote.jpeg')}}");
    background-repeat:no-repeat;
    background-size:cover;
  }
  .all{
    height:70vh;
    width:100vh;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
  }
</style>
<div class="all">

<div class="col-md-7">
  <h3>Sign Up</h3>
  <form id="signup">
    <div class="form-group">
      <lable>Username</lable>
      <input type="text" class="form-control" id="username" name="username" placeholder="Username">
      <small class="text-danger" style="display:none;" id="username_error"></small>
    </div>
    <div class="form-group">
      <lable>Email</lable>
      <input type="email" class="form-control" id="email" name="email" placeholder="Email">
      <small class="text-danger" style="display:none;" id="email_error"></small>
    </div>
    <div class="form-group">
      <lable>Password</lable>
      <input type="password" class="form-control" id="password" name="password">
    </div>
    <div class="form-group">
      <lable>Confirm Password</lable>
      <input type="password" class="form-control" id="confirm_password" name="confirm_password">
      <small class="text-danger" style="display:none;" id="password_error"></small>
    </div>
    <button type="submit" class="btn btn-block btn-primary btn-sm" name="button">Submit</button>
  </form>
  <div class="" style="text-align:center">

    <small>Have an accout ? <br><a href="/login">Login</a></small><br>
  </div>

</div>
</div>
{% endblock %}
