{% extends 'base.html' %}


{% block content %}
<style media="screen">
  .image{
    height:100vh;
    background-image:url('{{url_for('static' , filename=blog.blog_img)}}');
    background-repeat:no-repeat;
    background-size:cover;
    position:fixed;
    right:0;
    z-index:-30;
  }
  .details{
    padding:20px 70px;
    z-index:10;
    background-color:white;
  }
  .details p{
    font-style:italic;
    text-align:justify;
    line-height:30px;
  }
  .profile-p{
    border-radius:50%;
  }
  .fa-trash{
    transition:.5s;
  }
  .fa-trash:hover{
    color:red;
  }
  .fas{
    margin: 0 10px 10px 0
  }
</style>
<script type="text/javascript" src="{{url_for('static', filename='js/blog/blog_details.js')}}"></script>
<div class="container-fluid">
<div class="row">
  <div class="col-md-6 details">
  <br><br>
  <h3>{{blog.title}}</h3>
  <br><br>
  <p>{{blog.blog_content}}</p>
  <small><strong>Published on</strong> {{blog.pub_date}}</small><br>
  {% if blog.user.profile_photo %}
  <img src="{{url_for('static' , filename=blog.user.profile_photo)}}"  width="100px" height="100px" alt="">
  {% else %}
  <img src="{{url_for('static', filename='photos/blog/def-prof.jpg')}}" class="profile-p" width="70px" height="70px" alt="">
  {% endif%}
  <small><strong>Author</strong> {{blog.user.username}}</small><br>
  {% if upvotes %}
  {% for upvote in upvotes%}
    {% if upvote.blog_id == blog.id%}
  <!-- <p>{{ blog.upvote.id | count}}</p> -->
  {% endif %}
  {% endfor %}
  {%else %}
  {% endif %}

  <small id="upvote"> <i class="fas fa-thumbs-up">{{upvotes | count }} Like</i> </small>
  <small id="downvote"> <i class="fas fa-thumbs-down">Dislike</i> </small>

  <form id="add_comment">
    <div class="form-group">
      <lable> <strong>Comment</strong></lable>
      <textarea name="comment" id="comment" cols="30" rows="5" class="form-control" required></textarea>
      <input type="hidden" id="blog_id" name="blog_id" value="{{blog.id}}" required>
      <button class="btn btn-primary btn-block btn-sm">Comment</button>
    </div>
  </form>
  <div class="container-fluid comments">
    {% if blog.comment %}
    {% for comment in blog.comment %}
    <div class="row" id="comment{{comment.id}}">
      <div class="col-md-2">
        {% if comment.user.profile_photo %}
        <img src="{{url_for('static' , filename=blog.user.profile_photo)}}"  width="100px" height="100px" alt="">
        {% else %}
        <img src="{{url_for('static', filename='photos/blog/def-prof.jpg')}}" class="profile-p" width="50px" height="50px" alt="">
        {% endif%}
      </div>
      <div class="col-md-10">
        <p>{{comment.comment}}</p>
        <small>{{comment.user.username}}</small>
        {% if current_user == blog.user%}

          <small class="delete" style="float:right;cursor:pointer;">
            <i class="fas fa-trash"></i>
            <input type="hidden" class="comment_id"name="" value="{{comment.id}}">
          </small>
      <!-- <a href="/blog/{{blog.id}}/delete/{{comment.id}}/comment">
        <small class="delete" style="float:right;cursor:pointer;">
          <i class="fas fa-trash"></i>
        </small>
      </a> -->
      {% endif %}
      </div>
    </div>
    {% endfor %}
    {% else %}
    <h6>Waiting for your comment😃</h6>
    {% endif%}
  </div>
  </div>
  <div class="col-md-6 image " >
  <p></p>
  </div>
</div>
</div>

{% endblock %}
