{% extends 'base.html' %}


{% block content %}
<style media="screen">
  .image{
    height:100vh;
    background-image:url('{{url_for('static' , filename=blog.blog_img)}}');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    position:fixed;
    right:0;
    z-index:-30;
  }
  .details{
    padding:20px 70px;
    z-index:10;
    background-color:rgba(255,255,255,.89);
  }
  .details p{
    font-style:italic;
    text-align:justify;
    line-height:30px;
  }
  .profile-p{
    border-radius:50%;
  }
  .fa-trash{
    transition:.5s;
  }
  .fa-trash:hover{
    color:red;
  }
  .fas{
    margin: 0 10px 10px 0
  }
  ul{
    list-style:none;
    padding:0;
  }
</style>
<script type="text/javascript" src="{{url_for('static', filename='js/blog/blog_details.js')}}"></script>
<div class="container-fluid">
<div class="row">
  <div class="col-md-6 details">
  <br><br>

<div class="all">
  <h3 id="blog_title">{{blog.title}}</h3>
  <br><br>
  <p id="blog_content">{{blog.blog_content}}</p>
</div>
{% if blog.user == current_user%}
<small id="edit" style="color:blue;float:right;cursor:pointer"> <i class="fas fa-pen"></i>edit </small><br><br>
<a href="delete"><small style="color:red;float:right;cursor:pointer"> <i class="fas fa-trash"></i>delete </small></a>
{% endif %}
<div class="edit-form" style="display:none">
  <form id = "edit_comment">
    <!-- <form id = "edit_comment" method='post' action="/blog/edit/{{blog.id}}"> -->
    <small class="text-danger" id="errors"></small>
  <div class="form-group">
    <lable>Title</lable>
    <input type="text" class="form-control" name="title" id="title" value="{{blog.title}}" placeholder="Blog Title">
    <small id="title_error" class="text-danger"></small>
  </div>
  <div class="form-group">
    <lable>Description</lable>
    <textarea name="blog" id="blog" value="dkasjhdkja" cols="30" rows="5" class="form-control" placeholder="" ></textarea>
    <small id="blog_error" class="text-danger"></small>
  </div>
  <button type="submit" class="btn btn-primary btn-sm">Submit</button>
  </form>
</div>
  <small><strong>Published on</strong> {{blog.pub_date}}</small><br>
  {% if blog.user.profile_photo %}
  <img src="{{url_for('static' , filename=blog.user.profile_photo)}}"   class="profile-p" width="50px" height="50px">
  {% else %}
  <img src="{{url_for('static', filename='photos/blog/def-prof.jpg')}}" class="profile-p" width="70px" height="70px" alt="">
  {% endif%}
  <small><strong>Author</strong> {{blog.user.username}}</small><br>
  {% if upvotes %}
  {% for upvote in upvotes%}
    {% if upvote.blog_id == blog.id%}
  <!-- <p>{{ blog.upvote.id | count}}</p> -->
  {% endif %}
  {% endfor %}
  {%else %}
  {% endif %}

  <small > <i class="fas fa-thumbs-up" id="upvote">{{upvotes | count }} </i>Like </small>
  {% if current_user.is_authenticated %}
  <form id="add_comment">
    <div class="form-group">
      <lable> <strong>Comment</strong></lable>
      <textarea name="comment" id="comment" cols="30" rows="5" class="form-control" required></textarea>
      <input type="hidden" id="blog_id" name="blog_id" value="{{blog.id}}" required>
      <button class="btn btn-primary btn-block btn-sm">Comment</button>
    </div>
  </form>
  {% else %}
  <form id="strange_comment" method='post' action="/blog/stranger/comment/{{blog.id}}">
    <div class="form-group">
      <label for="">Name</label>
      <input type="text" name="name" class="form-control">
    </div>
    <div class="form-group">
      <lable> <strong>Comment</strong></lable>
      <input class="form-control" type="text" name="comment" value="">
    </div>
    <button class="btn btn-primary btn-block btn-sm">Comment</button>
  </form>
  {% endif %}

  <h5>Comments</h5>
  <small id="writers_comments" style="cursor:pointer;color:blue;">writers <i class="fas fa-comment"></i>  </small>
  <small id="users_comments" style="cursor:pointer;color:blue;">users <i class="fas fa-comment"></i>  </small>
  <div class="container-fluid w-comments">


    {% if blog.comment %}
    {% for comment in blog.comment %}
    <input type="hidden" name="delete-url" id="delete-url" value="/blog/{{blog.id}}/delete/{{comment.id}}/comment">
    <div class="row" id="comment{{comment.id}}">
      <div class="col-md-2">
        {% if comment.user.profile_photo %}
        <img src="{{url_for('static' , filename=blog.user.profile_photo)}}" class="profile-p" width="50px" height="50px" alt="">
        {% else %}
        <img src="{{url_for('static', filename='photos/blog/def-prof.jpg')}}" class="profile-p" width="50px" height="50px" alt="">
        {% endif%}
      </div>
      <div class="col-md-10">
        <p>{{comment.comment}}</p>
        <small>{{comment.user.username}}</small>
        {% if current_user == blog.user%}

          <!-- <small id="delete" style="float:right;cursor:pointer;">
            <i class="fas fa-trash"></i>
          </small> -->
      <a href="/blog/{{blog.id}}/delete/{{comment.id}}/comment">
        <small class="delete" style="float:right;cursor:pointer;">
          <i class="fas fa-trash"></i>
        </small>
      </a>
      {% endif %}
      </div>
    </div>
    {% endfor %}
    {% else %}
    <h6>Waiting for your comment😃</h6>
    {% endif%}
  </div>
  <div class="container-fluid u-comments" style="display:none">
    {% if blog.strange_c %}
    {% for comment in blog.strange_c %}
    <p>{{comment.comment}}</p>
    <small>By {{comment.name}}</small>
    {% if current_user == blog.user%}
  <a href="/blog/{{blog.id}}/delete/stranger/{{comment.id}}/comment">
    <small class="delete" style="float:right;cursor:pointer;">
      <i class="fas fa-trash"></i>
    </small>
  </a>
  {% endif %}
    {% endfor %}
    {% else %}
    <small>Nothing to see</small>
    {% endif %}
  </div>
  </div>


  <!-- //////////////////////////////////////////////////////////////////////////////////////////////////// -->
  <div class="col-md-6 image " >
  <p></p>
  </div>
</div>
</div>

{% endblock %}
